<section class="login-component">
  <!-- <base-component *ngFor="let item of componentList" [componentModel]="item"></base-component>
    <a routerLink="/dashboard/home">login</a> -->
    <form class="clearfix login-content">
        <legend class="form-title legend">{{'login.login'|translate}}</legend>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user" style="width:14px;"></i>
                </span>
                <input id="userName" type="text" class="form-control mw-fs-16" [placeholder]="'login.loginUser'|translate" [(ngModel)]="model.userName" name="userName"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                </span>
                <input id="password" type="password" class="form-control mw-fs-16" [placeholder]="'login.password'|translate" [(ngModel)]="model.password" name="password"/>
            </div>
        </div>
        <div>
            <zk-checkbox [(checked)]="model.autoLogin" label="{{'login.keepLogin'|translate}}"></zk-checkbox>
            <div [zkBusy]="loginAysn" class="mw-busy-wrap pull-right">
            <!-- <div class="mw-busy-wrap pull-right"> -->
                <button type="button" class="btn btn-primary" (click)="login()">
                    test
                </button>
                <button type="button" class="btn btn-primary" routerLink="/dashboard/home">
                    <i class="fa fa-sign-in"></i>
                    <span>{{'login.login'|translate}}</span>
                </button>
                <!-- <zk-button>{{'login.login'|translate}}</zk-button> -->
            </div>
        </div>
        <zk-radio [list]="radioList"></zk-radio>
        <!-- <div *ngFor="let item of radioList">{{item.label}}</div> -->
    </form>
    <div class="session-links">
        <a href="" class="pull-left">{{'login.createNewUser'|translate}}</a>
        <a href="" class="pull-right">{{'login.forgetPassword'|translate}}</a>
    </div>
</section>