/* You can add global styles to this file, and also import other style files */
// @import '../node_modules/sass-lib/dist/sass-lib.css';

@import './styles/index';

html,body{
    padding: 0px;
    margin: 0px;
    color: #444;
}